
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #4d5358;
  background-image: url("../css/password.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: white;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;

}

.float-right {
  float: right;
}

#password {
  
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  
   border-color: black ;
  overflow: hidden;
}
  .button {
    color: white;
    background-color: red;
    font-size: 30px;
    margin: 16px ;
    padding: 10px 15px;
  }

  #password {
    font-size: 55px;
  }